body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    text-align: left;
}

.container {
    padding: 0 30px;
}

.error-message {
    padding: 30px 0;
    font-size: 18px;
    font-weight: 500;
    color: #44525e;
    color: #fff;
    background-color: #dc3545;
    line-height: 1;
}

.error-details {
    padding: 20px 0;
    font-size: 16px;
    color: #212529;
    font-weight: normal;
}

.error-bar {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.error-details span {
    color: #FF6F00;
    font-weight: 500;
}

.error-trace {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    color: #FF6F00;
    font-weight: 500;
}

.error-title {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    line-height: 1;
    color: #dc3545;
}

.error-content {
    color: #212529;
    font-weight: normal;
}